@tailwind base;
@tailwind components;
@tailwind utilities;


/* fonts */
@font-face {
  font-family: "Barlow_Condensed", sans-serif;
  src: url('/fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Barlow_Condensed", sans-serif;
  src: url('/fonts/Barlow_Condensed/BarlowCondensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Barlow_Condensed", sans-serif;
  src: url('/fonts/Barlow_Condensed/BarlowCondensed-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Barlow_Condensed", sans-serif;
  src: url('/fonts/Barlow_Condensed/BarlowCondensed-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Barlow_Condensed", sans-serif;
  src: url('/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Barlow_Condensed", sans-serif;
  src: url('/fonts/Barlow_Condensed/BarlowCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Barlow_Condensed", sans-serif;
  src: url('/fonts/Barlow_Condensed/BarlowCondensed-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Barlow_Condensed", sans-serif;
  src: url('/fonts/Barlow_Condensed/BarlowCondensed-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url('/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: Montserrat;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.otp-box{
  width: 14%;
  height: 40px;
  border: solid 0.5px black;
  border-radius: 10%;
  margin: 0 1.5%;
  font-size: 210%;
  text-align: center;
  background-color: rgba(186, 224, 176, 0.075);

}

.otp-box-set{
  padding: 10px;
  width: 300px;
}
